@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    background: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*{
  color: black;
  box-sizing: border-box;
  transition: all 0.25s;
}



html, body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; */
  height: 100%;
  width: 100%;
}


.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin: 10px 0 5px;
  color: #555;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

#calendar-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#calendar{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#navigation{
  width: 100%;
}

button {
  padding: 10px;
  background: linear-gradient(45deg, rgba(255,255,0,1) 0%, rgba(120,255,0,1) 100%);
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  display: inline-block;
  user-select: none;
}

button:hover {
  box-shadow: 0 0 50px 5px rgba(200, 200, 200, 0.8);
}

.dates, .days{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
}

.dates{
  justify-items: stretch;
  align-items: stretch;
  /* height: 100%; */
  flex-grow: 1;
  background-color:#ddd;
  gap: 1px;
}

.date{
  /* text-align: center; */
  /* border: 1px solid grey; */
  background-color: white;
}

.date.selected{
  background-color: rgba(150,255,150,1);
}

/* #navigation-menu{
} */

.arrow-button{
  width: 42px;
}